
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  body {
    text-align: justify;
  }

  .quote {
    border-left: 0.5em solid #ddd;
    border-right: 0.5em solid #ddd;

    text-align: justify;

    padding-left: 1em;
    padding-right: 1em;

    margin-left: 10mm;
    margin-right: 10mm;
    color: #aaa;
    font-style: italic;
  }
}
